.weui-btn_primary {
  background-color: #FF5000!important;
  border-radius: 4px;
  &.weui-btn_disabled {
    background-color: rgba(255,80,0,0.6)!important;
  }
}

.weui-cells {
  box-shadow: 0 0 5PX 0 rgba(0,0,0,0.05);
  border-radius: 4PX;
  .weui-cell::before {
    left: 0;
  }
  .vux-x-input {
    .weui-label {
      color: #FF5000;
      font-size: 32px;
      margin-right: 30px;
      width: auto!important;
      text-align: left;
    }
  }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #666;
  font-size: 32px;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #666;
  font-size: 32px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #666;
  font-size: 32px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #666;
  font-size: 32px;
}